<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sql.mapper.i.HzAuthorityOfuserMapper">
	<resultMap id="BaseResultMap" type="sql.pojo.HzAuthorityOfuser">
		<id column="PUID" jdbcType="DECIMAL" property="puid" />
		<result column="AUTHORITY" jdbcType="DECIMAL" property="authority" />
		<result column="USER_ID" jdbcType="DECIMAL" property="userId" />
	</resultMap>
	<sql id="Base_Column_List">
		PUID, AUTHORITY, USER_ID
	</sql>
	<sql id="Grant_User_List">
		USER_ID,USER_NAME
	</sql>
	<select id="selectAuthosByUser" parameterType="sql.pojo.GrantUser"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from HZ_AUTHORITYOFUSER  where USER_ID = #{userId,jdbcType=DECIMAL} order by AUTHORITY
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from HZ_AUTHORITYOFUSER
		where PUID = #{puid,jdbcType=DECIMAL}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		HZ_AUTHORITYOFUSER
		where PUID = #{puid,jdbcType=DECIMAL}
	</delete>
	<insert id="insert" parameterType="sql.pojo.HzAuthorityOfuser">
		insert into HZ_AUTHORITYOFUSER
		(PUID, AUTHORITY, USER_ID
		)
		values (#{puid,jdbcType=DECIMAL},
		#{authority,jdbcType=DECIMAL},
		#{userId,jdbcType=DECIMAL}
		)
	</insert>
	<update id="updateByPrimaryKey" parameterType="sql.pojo.HzAuthorityOfuser">
		update
		HZ_AUTHORITYOFUSER
		set AUTHORITY = #{authority,jdbcType=DECIMAL},
		USER_ID = #{userId,jdbcType=DECIMAL}
		where PUID =
		#{puid,jdbcType=DECIMAL}
	</update>
</mapper>