<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sql.mapper.i.SuppliersHistoryMapper">

	<resultMap id="BaseResultMap" type="sql.pojo.SuppliersHistory">
		<id column="HISTORY_ID" jdbcType="DECIMAL" property="historyId" />
		<result column="SUPPLIERS_ID" jdbcType="DECIMAL" property="suppliersId" />
		<result column="SUPPLIERS_NAME" jdbcType="VARCHAR" property="suppliersName" />
		<result column="SUPPLIERS_CODE" jdbcType="VARCHAR" property="suppliersCode" />
		<result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
		<result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
		<result column="ALT_DATE" jdbcType="DATE" property="altDate" />
		<result column="ALT_TYPE" jdbcType="VARCHAR" property="altType" />
	</resultMap>
	<sql id="Base_Column_List">
		HISTORY_ID, SUPPLIERS_ID, SUPPLIERS_NAME, SUPPLIERS_CODE,
		CREATE_DATE,
		CREATE_USER,
		ALT_DATE, ALT_TYPE
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from HZ_ALT_SUPPLIERS_TABLE
		where HISTORY_ID =
		#{historyId,jdbcType=DECIMAL}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from HZ_ALT_SUPPLIERS_TABLE
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		HZ_ALT_SUPPLIERS_TABLE
		where HISTORY_ID = #{historyId,jdbcType=DECIMAL}
	</delete>
	<insert id="insert" parameterType="sql.pojo.SuppliersHistory">
		insert into
		HZ_ALT_SUPPLIERS_TABLE (HISTORY_ID, SUPPLIERS_ID,
		SUPPLIERS_NAME,
		SUPPLIERS_CODE, CREATE_DATE, CREATE_USER,
		ALT_DATE, ALT_TYPE)
		values
		(#{historyId,jdbcType=DECIMAL}, #{suppliersId,jdbcType=DECIMAL},
		#{suppliersName,jdbcType=VARCHAR},
		#{suppliersCode,jdbcType=VARCHAR},
		#{createDate,jdbcType=DATE}, #{createUser,jdbcType=VARCHAR},
		#{altDate,jdbcType=DATE}, #{altType,jdbcType=VARCHAR})
	</insert>
	<update id="updateByPrimaryKey" parameterType="sql.pojo.SuppliersHistory">
		update
		HZ_ALT_SUPPLIERS_TABLE
		set SUPPLIERS_ID =
		#{suppliersId,jdbcType=DECIMAL},
		SUPPLIERS_NAME =
		#{suppliersName,jdbcType=VARCHAR},
		SUPPLIERS_CODE =
		#{suppliersCode,jdbcType=VARCHAR},
		CREATE_DATE =
		#{createDate,jdbcType=DATE},
		CREATE_USER =
		#{createUser,jdbcType=VARCHAR},
		ALT_DATE = #{altDate,jdbcType=DATE},
		ALT_TYPE = #{altType,jdbcType=VARCHAR}
		where HISTORY_ID =
		#{historyId,jdbcType=DECIMAL}
	</update>
</mapper>