<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--该文件请放到resource下，便于单独读到，不需要配置-->
	<typeAliases>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:TC10" />
				<property name="username" value="HOZON" />
				<property name="password" value="HOZON" />
			</dataSource>
		</environment>
	</environments>
	<!--映射文件：描述某个实体和数据库表的对应关系 -->
	<mappers>
		<mapper resource="sql/mapper/HzPreferenceSettingMapper.xml" />
		<mapper resource="sql/mapper/bom/xmapper/HzBomMainRecordMapper.xml" />
		<mapper resource="sql/mapper/bom/xmapper/HzBomLineRecordMapper.xml" />
		<mapper resource="sql/mapper/cfg/xmapper/HzCfg0BomLineOfModelMapper.xml" />
		<mapper resource="sql/mapper/cfg/xmapper/HzCfg0ModelDetailMapper.xml" />
	</mappers>
</configuration>