<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <body>
        <form id="colorForm" role="form" method="post" action="/colorSet/add">
            <div class="form-group">
                <label for="pColorOfSet">色系</label>
                <input class="form-control" id="pColorOfSet" name="pColorOfSet" type="text"
                       placeholder="请输入色系名称"
                />
            </div>
            <div class="form-group">
                <label for="pColorName">颜色名称</label>
                <input class="form-control" id="pColorName" name="pColorName" type="text"
                       placeholder="请输入颜色名称"/>
            </div>
            <div class="form-group">
                <label for="pColorCode">颜色代号</label>
                <input class="form-control" id="pColorCode" name="pColorCode" type="text"
                       placeholder="请输入颜色代号"/>
            </div>
            <div class="form-group">
                <label for="pColorComment">备注</label>
                <input class="form-control" id="pColorComment" name="pColorComment" type="text"
                       placeholder="备注"/>
            </div>
        </form>
        <script th:inline="javascript">
            <![CDATA[
            $(function () {
                $('#colorForm').bootstrapValidator({
                    message: 'This value is not valid',
                    feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        pColorOfSet: {
                            message: '颜色系列名称验证失败',
                            validators: {
                                notEmpty: {
                                    message: '颜色系列名称不能为空'
                                }
                            }
                        },
                        pColorName: {
                            message: '颜色名称验证失败',
                            validators: {
                                notEmpty: {
                                    message: '颜色名称不能为空'
                                }
                            }
                        },
                        pColorCode: {
                            message: '颜色代号验证失败',
                            validators: {
                                notEmpty: {
                                    message: '颜色代号不能为空'
                                }
                            }
                        }
                    }
                });
                // 绑定dialog的确定按钮的监听事件
                $("#btnOk", window.top.document).click(function () {
                    var bootstrapValidator = $("#colorForm", window.top.document).data('bootstrapValidator');
                    bootstrapValidator.validate();
                    if (bootstrapValidator.isValid()) {
                        var url = $("#colorForm", window.top.document).attr('action');
                        var myData = JSON.stringify({
                            "pColorCode": $("#pColorCode").val(),
                            "pColorComment": $("#pColorComment").val(),
                            "pColorName": $("#pColorName").val(),
                            "pColorOfSet": $("#pColorOfSet").val(),
                        });
                        $.ajax({
                            contentType:
                                "application/json",
                            type:
                                'POST',
                            url: url,
                            data: myData,
                            success:
                                function (info) {
                                    $('.modal-dialog', window.top.document).parent('div').remove()
                                    $('body', window.top.document).find('.modal-backdrop').remove();
                                    // jquery 调用刷新当前操作的table页面的refresh方法
                                    $(window.parent.document).contents().find(".tab-pane.fade.active.in iframe")[0].contentWindow.doQuery();
                                    if (info == "ok")
                                        window.Ewin.alert({message: '添加数据成功!'});
                                    else
                                        window.Ewin.alert({message: '添加数据失败!'});
                                },
                            error: function (status) {
                                window.Ewin.alert({message: status.status + ':添加数据失败!'});
                            }
                        });
                    }
                });
            })
            ]]>
        </script>
    </body>
</html>