@charset "UTF-8";

.content-body {
	background-color: #EEE;
}

.content-body div .content {
	padding-top: 20px;
	padding-left:1em;
	overflow-x: auto;
	
}
.infoToUser {
	font-family: 黑体,微软雅黑,宋体;
	font-size: 1.25em;
	
}

.numToCenter {
	text-align: center;
	width: 100px;
}

.tableNormalStyle {
	border: 1px solid #CCC;
	min-width: 100%;
}

	.tableNormalStyle tr, tr td {
		border: 1px solid #CCC;
		color: #a31155;
	}

	.tableNormalStyle tr td {
		/* 	调整单个单元格的大小 */ 
		min-width:200px;
	}

	.tableNormalStyle tr th {
		border: 1px solid #CCC;
		text-align: center;
	}