<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sql.mapper.i.HzConfigureOfBomMapper">
	<resultMap id="BaseResultMap" type="share.bean.Cfg0OfBomline">
		<id column="P_CFG0PUID" jdbcType="VARCHAR" property="cfg0Puid" />
		<result column="P_BOMLINEPUID" jdbcType="VARCHAR"
			property="bomlinePuid" />
		<result column="P_CFG0NAME" jdbcType="VARCHAR"
			property="cfg0Name" />
		<result column="P_CFG0FAMILYNAME" jdbcType="VARCHAR"
			property="cfg0FamilyName" />
		<result column="P_BOM_DIGIFAX_ID" jdbcType="VARCHAR"
			property="bomDigifaxId" />
		<result column="P_BOM_LINE_NAME" jdbcType="VARCHAR"
			property="bomlineName" />

	</resultMap>
	<sql id="Base_Column_List">
		P_CFG0PUID,P_BOMLINEPUID,P_CFG0NAME,P_CFG0FAMILYNAME,P_BOM_DIGIFAX_ID,P_BOM_LINE_NAME
	</sql>
	<sql id="values_by_batch">
		#{item.cfg0Puid,jdbcType=VARCHAR},
		#{item.bomlinePuid,jdbcType=VARCHAR},
		#{item.cfg0Name,jdbcType=VARCHAR},
		#{item.cfg0FamilyName,jdbcType=VARCHAR},
		#{item.bomDigifaxId,jdbcType=VARCHAR},
		#{item.bomlineName,jdbcType=VARCHAR}
	</sql>
	<insert id="insertByBatch" parameterType="java.util.List">
		insert all
		<foreach collection="list" item="item" index="index"
			separator=" ">
			into HZ_CFG0_OF_BOMLINE_RECORD (
			<include refid="Base_Column_List" />
			) values (
			<include refid="values_by_batch" />
			)
		</foreach>
		select 1 from dual
	</insert>
</mapper>