<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sql.mapper.i.HzReleaseRecordMapper">
	<resultMap id="BaseResultMap" type="sql.pojo.HzReleaseRecord">
		<id column="RECORD_CODE" jdbcType="VARCHAR" property="recordCode" />
		<result column="RELEASE_TYPE" jdbcType="VARCHAR" property="releaseType" />
		<result column="OA_PROCESS_NUM" jdbcType="VARCHAR" property="oaProcessNum" />
		<result column="DATA_RELEASE_DATE" jdbcType="DATE" property="dataReleaseDate" />
		<result column="RELEASE_APPLICANT" jdbcType="VARCHAR" property="releaseApplicant" />
		<result column="SUPPLIERS_ID" jdbcType="DECIMAL" property="suppliersId" />
		<result column="SUPPLIERS_NAME" jdbcType="VARCHAR" property="suppliersName" />
		<result column="SUPPLIERS_CODE" jdbcType="VARCHAR" property="suppliersCode" />
		<result column="OUT_CNPY_ACCEPTER" jdbcType="VARCHAR" property="outCnpyAccepter" />
		<result column="OUT_CPNY_EMAIL" jdbcType="VARCHAR" property="outCpnyEmail" />
		<result column="IN_POST_USER_NAME" jdbcType="VARCHAR" property="inPostUserName" />
		<result column="IN_POST_USER_PHONE" jdbcType="VARCHAR"
			property="inPostUserPhone" />
		<result column="IN_POST_USER_EMAIL" jdbcType="VARCHAR"
			property="inPostUserEmail" />
		<result column="IN_POST_USER_DEPT" jdbcType="VARCHAR" property="inPostUserDept" />
		<result column="RELEASE_APPL_PHONE" jdbcType="VARCHAR"
			property="releaseApplPhone" />
		<result column="RELEASE_APPL_EMAIL" jdbcType="VARCHAR"
			property="releaseApplEmail" />
		<result column="RELEAS_APPL_DEPT" jdbcType="VARCHAR" property="releasApplDept" />
		<result column="PRO_MANAGER_SUGGE" jdbcType="VARCHAR" property="proManagerSugge" />
		<result column="PRO_INSPECTOR_SUGGE" jdbcType="VARCHAR"
			property="proInspectorSugge" />
	</resultMap>
	<sql id="Base_Column_List">
		RECORD_CODE, RELEASE_TYPE, OA_PROCESS_NUM, DATA_RELEASE_DATE, RELEASE_APPLICANT,
		SUPPLIERS_ID, SUPPLIERS_NAME, SUPPLIERS_CODE, OUT_CNPY_ACCEPTER,
		OUT_CPNY_EMAIL,
		IN_POST_USER_NAME, IN_POST_USER_PHONE, IN_POST_USER_EMAIL, IN_POST_USER_DEPT,
		RELEASE_APPL_PHONE,
		RELEASE_APPL_EMAIL, RELEAS_APPL_DEPT, PRO_MANAGER_SUGGE, PRO_INSPECTOR_SUGGE
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from HZ_RELEASE_RECORD
		where RECORD_CODE = #{recordCode,jdbcType=VARCHAR}
	</select>
	<select id="selectByOaProNum" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from HZ_RELEASE_RECORD
		where RECORD_CODE = #{oaProcessNum,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from HZ_RELEASE_RECORD
		where RECORD_CODE = #{recordCode,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="sql.pojo.HzReleaseRecord">
		insert into HZ_RELEASE_RECORD (RECORD_CODE, RELEASE_TYPE, OA_PROCESS_NUM,
		DATA_RELEASE_DATE, RELEASE_APPLICANT, SUPPLIERS_ID,
		SUPPLIERS_NAME, SUPPLIERS_CODE, OUT_CNPY_ACCEPTER,
		OUT_CPNY_EMAIL, IN_POST_USER_NAME, IN_POST_USER_PHONE,
		IN_POST_USER_EMAIL, IN_POST_USER_DEPT, RELEASE_APPL_PHONE,
		RELEASE_APPL_EMAIL, RELEAS_APPL_DEPT, PRO_MANAGER_SUGGE,
		PRO_INSPECTOR_SUGGE)
		values (#{recordCode,jdbcType=VARCHAR}, #{releaseType,jdbcType=VARCHAR},
		#{oaProcessNum,jdbcType=VARCHAR},
		systimestamp, #{releaseApplicant,jdbcType=VARCHAR},
		#{suppliersId,jdbcType=DECIMAL},
		#{suppliersName,jdbcType=VARCHAR}, #{suppliersCode,jdbcType=VARCHAR},
		#{outCnpyAccepter,jdbcType=VARCHAR},
		#{outCpnyEmail,jdbcType=VARCHAR}, #{inPostUserName,jdbcType=VARCHAR},
		#{inPostUserPhone,jdbcType=VARCHAR},
		#{inPostUserEmail,jdbcType=VARCHAR},
		#{inPostUserDept,jdbcType=VARCHAR},
		#{releaseApplPhone,jdbcType=VARCHAR},
		#{releaseApplEmail,jdbcType=VARCHAR},
		#{releasApplDept,jdbcType=VARCHAR},
		#{proManagerSugge,jdbcType=VARCHAR},
		#{proInspectorSugge,jdbcType=VARCHAR})
	</insert>
	<update id="updateByPrimaryKey" parameterType="sql.pojo.HzReleaseRecord">
		update HZ_RELEASE_RECORD
		set RELEASE_TYPE = #{releaseType,jdbcType=VARCHAR},
		OA_PROCESS_NUM = #{oaProcessNum,jdbcType=VARCHAR},
		DATA_RELEASE_DATE = #{dataReleaseDate,jdbcType=DATE},
		RELEASE_APPLICANT = #{releaseApplicant,jdbcType=VARCHAR},
		SUPPLIERS_ID = #{suppliersId,jdbcType=DECIMAL},
		SUPPLIERS_NAME = #{suppliersName,jdbcType=VARCHAR},
		SUPPLIERS_CODE = #{suppliersCode,jdbcType=VARCHAR},
		OUT_CNPY_ACCEPTER = #{outCnpyAccepter,jdbcType=VARCHAR},
		OUT_CPNY_EMAIL = #{outCpnyEmail,jdbcType=VARCHAR},
		IN_POST_USER_NAME = #{inPostUserName,jdbcType=VARCHAR},
		IN_POST_USER_PHONE = #{inPostUserPhone,jdbcType=VARCHAR},
		IN_POST_USER_EMAIL = #{inPostUserEmail,jdbcType=VARCHAR},
		IN_POST_USER_DEPT = #{inPostUserDept,jdbcType=VARCHAR},
		RELEASE_APPL_PHONE = #{releaseApplPhone,jdbcType=VARCHAR},
		RELEASE_APPL_EMAIL = #{releaseApplEmail,jdbcType=VARCHAR},
		RELEAS_APPL_DEPT = #{releasApplDept,jdbcType=VARCHAR},
		PRO_MANAGER_SUGGE = #{proManagerSugge,jdbcType=VARCHAR},
		PRO_INSPECTOR_SUGGE = #{proInspectorSugge,jdbcType=VARCHAR}
		where RECORD_CODE = #{recordCode,jdbcType=VARCHAR}
	</update>
</mapper>