<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sql.mapper.i.HzTempDocumentRecordMapper">
	<resultMap id="BaseResultMap" type="sql.pojo.HzTempDocumentRecord">
		<id column="ID" jdbcType="DECIMAL" property="id" />
		<result column="BEL_PROCESS_NUM" jdbcType="VARCHAR" property="belProcessNum" />
		<result column="ITEM_ID" jdbcType="VARCHAR" property="itemId" />
		<result column="ITEM_NAME" jdbcType="VARCHAR" property="itemName" />
		<result column="ITEMREVISION" jdbcType="VARCHAR" property="itemrevision" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, BEL_PROCESS_NUM, ITEM_ID, ITEM_NAME, ITEMREVISION
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from HZ_TEMPDOCUMENTRECORD
		where ID = #{id,jdbcType=DECIMAL}
	</select>
	<select id="selectByMainRecord" parameterType="sql.pojo.HzTempMainRecord"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from HZ_TEMPDOCUMENTRECORD
		where BEL_PROCESS_NUM = #{processNum,jdbcType=DECIMAL}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from HZ_TEMPDOCUMENTRECORD
		where ID = #{id,jdbcType=DECIMAL}
	</delete>
	<insert id="insert" parameterType="sql.pojo.HzTempDocumentRecord">
		insert into HZ_TEMPDOCUMENTRECORD (ID, BEL_PROCESS_NUM, ITEM_ID,
		ITEM_NAME, ITEMREVISION)
		values (#{id,jdbcType=DECIMAL}, #{belProcessNum,jdbcType=VARCHAR},
		#{itemId,jdbcType=VARCHAR},
		#{itemName,jdbcType=VARCHAR}, #{itemrevision,jdbcType=VARCHAR})
	</insert>
	<update id="updateByPrimaryKey" parameterType="sql.pojo.HzTempDocumentRecord">
		update HZ_TEMPDOCUMENTRECORD
		set BEL_PROCESS_NUM = #{belProcessNum,jdbcType=VARCHAR},
		ITEM_ID = #{itemId,jdbcType=VARCHAR},
		ITEM_NAME = #{itemName,jdbcType=VARCHAR},
		ITEMREVISION = #{itemrevision,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=DECIMAL}
	</update>
</mapper>