<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sql.mapper.i.SuppliersMapper">
	<resultMap id="BaseResultMap" type="sql.pojo.Suppliers">
		<id column="SUPPLIERS_ID" jdbcType="DECIMAL" property="suppliersId" />
		<result column="SUPPLIERS_NAME" jdbcType="VARCHAR" property="suppliersName" />
		<result column="SUPPLIERS_CODE" jdbcType="VARCHAR" property="suppliersCode" />
		<result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
		<result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
		<result column="OUT_CPNY_ACCEPTER" jdbcType="VARCHAR" property="outCpnyAccepter" />
		<result column="OUT_CPNY_EMAIL" jdbcType="VARCHAR" property="outCpnyEmail" />
		<result column="OUT_CPNY_FTP_PATH" jdbcType="VARCHAR" property="outCpnyFtpPath" />
	</resultMap>
	<sql id="Base_Column_List">
		SUPPLIERS_ID, SUPPLIERS_NAME, SUPPLIERS_CODE, CREATE_DATE,
		CREATE_USER,OUT_CPNY_ACCEPTER,OUT_CPNY_EMAIL,OUT_CPNY_FTP_PATH
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from HZ_QUERY_SUPPLIERS
		where SUPPLIERS_ID =
		#{suppliersId,jdbcType=DECIMAL}
	</select>
	<!-- 根据供应商名称查找，精确查找 -->
	<select id="selectByName" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from HZ_QUERY_SUPPLIERS
		where SUPPLIERS_NAME =
		#{suppliersName,jdbcType=VARCHAR}
	</select>
	<!-- 根据供应商代号查询，精确查找 -->
	<select id="selectByCode" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from HZ_QUERY_SUPPLIERS
		where SUPPLIERS_CODE =
		#{suppliersCode,jdbcType=VARCHAR}
	</select>

	<select id="selectByCode2" parameterType="sql.pojo.Suppliers"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from HZ_QUERY_SUPPLIERS
		where SUPPLIERS_CODE =
		#{suppliersCode,jdbcType=VARCHAR}
	</select>

	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from HZ_QUERY_SUPPLIERS
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		HZ_QUERY_SUPPLIERS
		where SUPPLIERS_ID = #{suppliersId,jdbcType=DECIMAL}
	</delete>
	<delete id="deleteByCode" parameterType="sql.pojo.Suppliers">
		delete from
		HZ_QUERY_SUPPLIERS where
		SUPPLIERS_CODE=#{suppliersCode,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="sql.pojo.Suppliers">
		insert into HZ_QUERY_SUPPLIERS
		(SUPPLIERS_ID, SUPPLIERS_NAME,
		SUPPLIERS_CODE,
		CREATE_DATE,
		CREATE_USER,OUT_CPNY_ACCEPTER,OUT_CPNY_EMAIL,OUT_CPNY_FTP_PATH)
		select
		seq_hz_supp_id.nextval,
		#{suppliersName,jdbcType=VARCHAR},
		#{suppliersCode,jdbcType=VARCHAR},
		systimestamp,
		#{createUser,jdbcType=VARCHAR},
		#{outCpnyAccepter,jdbcType=VARCHAR},
		#{outCpnyEmail,jdbcType=VARCHAR},
		#{outCpnyFtpPath,jdbcType=VARCHAR}
		from dual
	</insert>
	<!-- 不更新供应商代码 -->
	<update id="updateByPrimaryKey" parameterType="sql.pojo.Suppliers">
		update
		HZ_QUERY_SUPPLIERS
		set
		SUPPLIERS_NAME
		=#{suppliersName,jdbcType=VARCHAR},
		OUT_CPNY_ACCEPTER =
		#{outCpnyAccepter,jdbcType=VARCHAR},
		OUT_CPNY_EMAIL =
		#{outCpnyEmail,jdbcType=VARCHAR},
		OUT_CPNY_FTP_PATH =
		#{outCpnyFtpPath,jdbcType=VARCHAR}
		where SUPPLIERS_CODE =
		#{suppliersCode,jdbcType=DECIMAL}
	</update>
</mapper>