<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="include/includebase"></head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
<input id="text1" class="form-control" type="text" name="doSubmit1"
       placeholder="请输入需要查找的model" value="9deb81ea-9544-473b-aeb5-d7683c7753c3"/>
<button id="myButton">请点击</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">操作错误</h4>
            </div>
            <div class="modal-body">请输入正确的数模层ID</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(
        $("#myButton").click(function () {
            var data = $("#text1").val();
            if (data.length == 0) {
                $("#myModal").modal('show');
                return;
            }
            $.ajax({
                url: '/model/saveModelData',
                type: 'POST',
                dataType: "application/json",
                contentType: "application/json",
                data:
                //需要转换为JSON.stringify
                    JSON.stringify({
                        "puid": "",
                        "pModelPuid": "046adedc-09b2-43ca-a49c-a99d47c9fa3e",//模型puid，隐藏域
                        "pModelName": "模型名称",//模型名
                        "pModelDesc": "模型描述",//模型描述
                        "pModelSaleArea": "销售地区",//销售地区
                        "pModelBrand": "品牌",//品牌
                        "pModelVehicle": "车辆",//车辆
                        "pModelPlatform": "平台",//平台
                        "pModelMod": "车型",//车型
                        "pModelTransform": "变型",//变型
                        "pModelAnnual": "年型",//年型
                        "pModelVersion": "版型",//版型
                        "pModelDriverPosition": "老司机位置",//老司机位置
                        "pModelMembers": "乘客位置",//乘客位置
                        "pModelShape": "车身形式",//车身形式
                        "pModelAnnouncement": "公告",//公告
                        "pModelPowers": "动总",//动总
                        "pModelCfgVersion": "配置版本",//配置版本
                        "pModelCfgDesc": "配置描述",//配置描述
                        "pModelTrailNum": "试制号",//试制号
                        "pModelGoodsNum": "商品号"//商品号
                    }),
                success: function (data) {
                    var _ddd = JSON.parse(_data);
                    alert("成功" + _ddd.msg);
                }
                ,
                error: function (info) {
                    alert("失败" + info.status);
                }

            })
            ;
        })
    );

</script>
</body>
</html>